/* cards grid */

.container-cards {
  max-width: 950px;
  margin: auto;
  padding-top: 125px;

  display: grid;
  gap: 25px;
  grid-template-columns: repeat(auto-fill, 300px);
  justify-content: center;
  align-items: start;
}

.section-heading {
  grid-column: 1 / -1;
}

/* general card formatting */

.card-content {
  width: 300px;
}

.card-content h2 {
  margin-top: 0px;
}

.card-content-img {
  width: 100%;
  height: 175px;
  object-fit: cover;
  border-radius: 5px 5px 0px 0px;
}

.card-content-project-info,
.card-content-contact-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.card-content-about-info {
  padding: 20px;
  margin: auto;
}

/* project card formatting */

.card-content-project {
  height: 400px;
}

.card-content-project-info {
  height: 225px;
}

/* about card formatting */

.card-content-about,
.card-content-about-info {
  min-height: 475px;
}

/* links */
.card-content-info-links a,
.card-content-info-links a:active,
.card-content-info-links a:hover,
.card-content-info-links a:visited {
  color: var(--orange);
  display: inline-block;
}

.card-heading-link {
  text-decoration: none;
}

/* contact me */

#contact-card {
  max-width: 950px;
  margin: auto;
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#contact-card-img-div {
  width: 300px;
}

@media only screen and (max-width: 767px) {
  #contact-card {
    max-width: 300px;
  }
}

.container-cards .contact-icons-link,
.container-cards .contact-icons-link:active,
.container-cards .contact-icons-link:hover,
.container-cards .contact-icons-link:visited {
  margin-right: 0px;
}

.card-content-contact-img {
  border-radius: 50%;
  width: 250px;
  margin: 25px;
}

@media only screen and (min-width: 768px) {
  .card-content-contact-info {
    max-width: 50%;
  }
}

/* photo attributes */

.attribute-container {
  position: relative;
}

.photo-attribute {
  position: absolute;
  bottom: 5px;
  left: 5px;
  color: white;
  font-size: 0.8em;
}

.photo-attribute a,
.photo-attribute a:active,
.photo-attribute a:hover,
.photo-attribute a:visited {
  color: white;
  text-transform: none;
  text-decoration: underline;
  font-weight: normal;
  margin: 0px;
  letter-spacing: normal;
}
