/* hero */
/* #hero {
  background-color: var(--green);
  background-image: url(../images/headshots/DSCF1068.jpg);
  background-size: cover;
  background-position: right center;
  background-attachment: fixed;
} */

#subhero {
  text-align: right;
}

#subhero img {
  padding-bottom: 150px;
} 

#contact {
  margin-top: 50px;
}

/* business solutions */
/* 
#services {
  text-align: center;
}

.list-services {
  list-style: none;
  padding: 0;
}

#list-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: stretch;
  max-width: 1366px;
}

.list-container-item {
  width: 33%;
  background-color: var(--green);

  color: var(--ltgrey);
  font-family: "Open Sans Condensed", sans-serif;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border: thin var(--grey) solid;
  min-height: 400px;
}

.list-container-item * {
  background-color: var(--green);
}

.list-container-item h4:hover {
  cursor: pointer;
}

.list-container-item ul {
  font-size: 1.5em;
}

#list-admin {
  background-image: url(../images/placeholder_4_notepad.jpg);
  background-size: cover;
  background-position: center center;
}

.list-closed {
  display: none;
} */
