@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap');

:root {
    --grey: #41393b;
    --ltgreen: #61988e;
    --offwhite: #fffbfe;
    --dkgreen: #04313a;
    --orange: #f6b378;
}

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: var(--grey);
}

body {
    margin: 0;
}

main {
    background-color: var(--offwhite);
}

/* typography */

.section-shaded h2,
.section-shaded h4,
.section-shaded p,
.section-shaded a {
    color: var(--offwhite);
}

h1, 
h2 {
    font-family: 'Merriweather', serif;
    font-weight: 700;
    color: var(--dkgreen);
}

h1 {
    font-size: 5em;
    margin: 0px;
}


h3 {
    font-weight: bold;
    font-size: 1.5em;
    color: var(--ltgreen); 
    text-transform: lowercase;
    margin: 2px;
}

h4 {
    text-transform: uppercase;
    margin: 0px;
    letter-spacing: 2px;
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 3em;
        margin-bottom: 25px;
    }
    h3 {
        font-size: 1.25em;
    }

}

/* hero */

.hero {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 950px;
  justify-content: center;
  /* margin-top: 40vh; */
}


a {
    text-decoration: none;
}

#sub-head {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.dot {
  height: 8px;
  width: 8px;
  background-color: var(--ltgreen);
  border-radius: 50%;
  display: inline-block;
  margin: 0px 15px;
}

@media only screen and (max-width: 470px) {
    #sub-head {
        display: block;
        text-align: center;
    }
}

.container-media-icons {
    margin: 25px;
}

.icon {
    width: 40px;
    margin-right: 10px;
}

#down-arrow {
    transform: rotate(180deg);
    cursor: pointer;
    margin-top: 50px;
}

