@import url("https://use.typekit.net/iri0lun.css");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap");
/* 
font-family: 'Open Sans Condensed', sans-serif; 

font-family: broadacre-hairline-0,sans-serif;
font-weight: 100;
font-style: normal; 

font-family: broadacre-thin-0,sans-serif;
font-weight: 100;
font-style: normal; 

font-family: broadacre-medium-0,sans-serif;
font-weight: 500;
font-style: normal;

font-family: broadacre-regular-0,sans-serif;
font-weight: 300;
font-style: normal;
*/

:root {
  --sage: #94b5b5;
  --ltsage: #eaf8f8; /* test color */
  --green: #4b6968;
  --ltgrey: #e2e2e2; /* okay as text, unsure as background */
  --grey: #d4d3e0; /* unsure, might not use */
  --gold: #d99b50;
  --dkgold: #7a680e;
  --black: #101810;
  --shadow: #353d3d;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background: var(--ltgrey); /* looks too brown as background */
  color: var(--black);
  margin: 0;
  font-weight: 400;
  font-size: 1.2em;
}

.section-wrapper {
  max-width: 1366px;
  margin: auto;
  padding: 0 20px;
}

/* typography */
h1 {
  font-family: broadacre-hairline-0,sans-serif;
  font-weight: 100;
  font-style: normal;
}

h2,
h3,
h4 {
  font-family: broadacre-regular-0,sans-serif;
  font-weight: 300;
  font-style: normal;
}

h1 {
  font-size: 7em;
  /* color: var(--ltgrey); */
  margin: 100px 0 0 0;
}

h2 {
  font-size: 3em;
}

#hero h2 {
  /* color: var(--ltgrey); */
  margin: 0px;
}

h3,
h4 {
  margin-bottom: 0;
}

h3 {
  font-size: 2.5em;
}

h4 {
  font-weight: 300;
  margin: 0;
  color: var(--black);
}

/* .h3-underline {
  width: 60px;
  transform: rotate(90deg);
  fill: var(--gold);
}

.accent-text {
  font-family: "Kristi", cursive;
  font-size: 125px;
  color: var(--green);
  margin: 10px 0 0 0;
  line-height: 0;
  padding-top: 125px;
  text-align: right;
  padding-right: 100px;
}

.boxed-text {
  border: var(--gold) solid 2px;
  max-width: 1344px;
  padding: 50px; 
}*/


a,
a:hover,
a:valid {
  text-decoration: none;
  color: var(--black);
}

/* .menu-links a {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: x-large;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--ltgrey);
  padding: 0 25px;
}

.menu-links a:hover,
.footer-links {
  color: var(--gold);
}

.menu-links ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 10px;
}



 {
  justify-content: center;
} */

/* button */
button {
  background-color: var(--gold);
  color: var(--ltgrey);
  font-family: "Fjalla One", sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 15px 0 60px 0;
  padding: 12px 20px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 1px 1px 5px var(--shadow);
  border: none;
}

button:hover {
  background-color: var(--dkgold);
}

/* nav */
/* nav,
footer {
  background-color: var(--green);
  opacity: 0.8;
  width: 100%;
}

.background-graphic {
  fill: var(--gold);
  width: 600px;
  transform: rotate(70deg);
  z-index: -1;
  position: absolute;
  left: 50px;
} */
