main section {
    align-items: flex-start;
}

.section-shaded h4,
.section-shaded li {
    color: var(--offwhite);
}

.tabs-container {
    width: 50%;
    border-radius: 0;
}

.tabs-container p,
.tabs-container h4 {
    color: var(--grey);
}

.tab-image {
    width: 100%;
    overflow: hidden;
    text-align: center;
}

.tab-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border: thin solid var(--grey);

}

#headshot {
    width: 400px;
}
